*.class

# Package Files #
*.jar
*.war
*.ear
/bin
*.html
!/doc/Problems.htlm
!/doc/Setup_Eclipse_Juno.html
!/doc/Network\ architecture.html
!/doc/ObjectInspector.html
!/doc/External_Traffic_Control_Programs.html
!/doc/OSMImport.html
/doc/resources
/doc/stylesheet.css
/doc/package-list
*.zip
.classpath
